.city-input,
.city-input:hover,
.city-input:active,
.city-input:focus {
  background-color: #6a6288;
  border: 1px solid #6a6288;
  box-shadow: 1px 1px 10px #6a6288;
}

.search-button {
  background-color: #6a6288;
  box-shadow: 1px 1px 10px #6a6288;
  color: black;
  font-weight: 500;
}

.Weather {
  background-image: linear-gradient(
    #877fa8,
    #bd86a6,
    #f19193,
    #f5ad91,
    #fbf7bf
  );
  border: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #877fa8;
  color: #1d182b;
  display: block;
  font-family: Spartan;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px;
  width: 500px;
}

.current-city {
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 0;
}

.current-city,
.current-temp {
  font-weight: 200;
  text-align: center;
}

.current-date {
  font-size: 25px;
  margin: 5px;
  margin-top: 20px;
}

.current-temp {
  font-size: 100px;
  margin-top: 0;
}

.current-weather-props {
  font-size: 20px;
  padding: 0;
  margin-left: 5px;
}

.city-input::placeholder {
  color: #2d2741;
}
