strong {
  font-weight: 500;
}

.city-input {
  background-color: #6a6288;
  border: 1px solid #6a6288;
  box-shadow: 1px 1px 10px #6a6288;
}

.city-input:hover,
.city-input:active,
.city-input:focus {
  background-color: #6a6288;
  border: 1px solid #6a6288;
  box-shadow: 1px 1px 15px #fbf7bf;
  transition: all 1s ease-in-out;
}

.city-input::placeholder {
  color: #2d2741;
}

.current-city {
  font-size: 55px;
  font-weight: 200;
  margin-top: 40px;
  margin-bottom: 0;
}

.current-date {
  font-size: 23px;
  margin: 5px;
  margin-left: 15px;
  margin-top: 20px;
}

.current-temp {
  font-size: 100px;
  font-weight: 100;
  letter-spacing: -5px;
  margin: 0;
}

.current-weather {
  text-align: center;
}

.current-weather-props {
  font-size: 20px;
  line-height: 40px;
  margin-left: 40px;
  max-height: 100px;
  padding: 0;
}

.description-icons {
  width: 35px;
}

.icons {
  margin-left: 5px;
  padding-right: 0;
  width: 50px;
}

.loader {
  margin-bottom: 264px;
  margin-top: 270px;
  text-align: center;
}

.search-button {
  background-color: #6a6288;
  box-shadow: 1px 1px 10px #6a6288;
  color: black;
  font-weight: 500;
}

.search-button:hover,
.search-button:active {
  box-shadow: 1px 1px 15px #fbf7bf;
  transition: all 1s ease-in-out;
}

.Weather {
  background-image: linear-gradient(
    #877fa8,
    #bd86a6,
    #f19193,
    #f5ad91,
    #fbf7bf
  );
  border: 1px;
  border-radius: 10px;
  box-shadow: 1px 1px 25px #877fa8;
  color: #1d182b;
  display: block;
  font-family: Spartan;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 10px;
  padding: 20px;
  width: 500px;
}
